

.mail-sent__mail-icon {
        font-size: 150px;

        opacity: 40%;
}

.verify-email-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: center;
        align-items: center;
        margin-top: 25dvh;
        /* height: 100%; */
}

.verify-email__prompt {
        text-align: center;
        font-weight: 500;
        color: rgba(0, 0, 0, 60%);
        /* line-height: 1.5; */
}

.email-sent__prompt span {
        color: rgba(191, 0, 0, 0.8);
        font-weight: 700;
}

.verify-email__continue {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 32px;
}

.verify-email__continue__button {
        font-size: 16px;

        background-color: rgba(0, 0, 0, 0);
        font-weight: 600;
        border: none;
        text-decoration: underline;
        opacity: 80%;
}

/* .email-sent__expiration-counter { */
        /* text-align: center; */
/* } */