
.history-page .history {
        display: flex;
        flex-direction: column;
        gap: 24px;
}

.history-page .daily-history {
        display: flex;
        flex-direction: column;
        gap: 12px;
}

.history-page .daily-history .date-header h2 {
        font-size: var(--text-size);

        opacity: 40%;
}

.history-page .load-more {
        margin-top: 24px;
}

.history-page .load-more p {
        font-size: var(--text-size);
        text-align: center;

        font-weight: 600;
        opacity: 40%;
        text-decoration: underline;
}