
.page-not-found {
        height: 60dvh;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
}

.page-not-found__title {
        font-size: 56px;

        font-weight: 900;
        color: var(--error);
}

.page-not-found__description {
        font-weight: 600;
        opacity: 60%;
}